@import url('./assets/fonts/stylesheet.css');
/* ==================== Reset ==================== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--proxy-bodily);
  font-family: "Inter", serif;
  font-size: var(--FS);
  letter-spacing: -0.001px;
  word-spacing: -0.04rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}